.featured-products-section {
	@media (min-width: $bp-vertical-to-horizontal) {
		margin-top: 4em;
		width: 85%;
	}
}

.featured-product-label {
	display: none;
	font-size: .8em;
	text-transform: uppercase;

	@media (min-width: $bp-vertical-to-horizontal) {
		display: block;
	}
}

.featured-products {
	@extend %list-unset;

	li {
		display: inline-block;
		width: 45%;

		&:nth-child(odd) {
			margin-right: 5%;
		}

		@media (min-width: $bp-vertical-to-horizontal) {
			display: block;
			margin-top: 1em;
			max-width: none;
		}
	}
}

.featured-product {
	@include image-replace;
	background-position: center center;
	background-repeat: no-repeat;

	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 1em;
	width: 100%;

	transition: border .2s, box-shadow .2s;

	&:hover {
		border-color: $purple;
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}
}

.featured-product-rco {
	background-image: url(../images/logo.rco.png);
	background-size: 53px 34px;
	height: 34px;
}

.featured-product-oribe {
	background-image: url(../images/logo.oribe.png);
	background-size: 107px 34px;
	height: 34px;
}
