#alert {
	background: #262221;
	color: #9b9b9b;
	font-size: 11px;
	line-height: 1.6;
	padding: 9px;
	text-align: center;

	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.4);
	box-shadow: 0 0 5px rgba(0,0,0,.4);
}

#alert p {
	margin: 0 auto;
	max-width: 680px;
}

#alert strong {
	color: #cecece;
}
