---
layout: default
title: Promotions
---
<div class="leftCol">
	<p class="quote">We believe relaxed luxury, your experience, and results are everything</p>
</div>

<div id="{{ page.title | handleize }}" class="mainCol">
	<h2>New Client Deal</h2>
	<p>If you often walk out of the salon with your head hung low, perhaps it’s time for a more uplifting experience. We encourage you to visit our beautiful sun-drenched space as it reflects the artistry of our talented hairdressers.</p>
	<p><small>Print and present the voucher when you arrive for your appointment</small></p>
	{% include promotion.html pdf="new-client-joni" cta="Complimentary haircut with any color service with Joni" name="Joni" %}
	{% include promotion.html pdf="new-client-jamie" cta="$25 off each service during <br />your first visit with Jamie" name="Jamie" %}
	{% include promotion.html pdf="new-client-robyn" cta="Complimentary haircut with any color service with Robyn" name="Robyn" %}
	{% include promotion.html pdf="new-client-lily" cta="$25 off each service during <br />your first visit with Lily" name="Lily" %}
</div>
