#slideshow {
	max-width: 609px;
	margin: 0 auto;
	padding: 5px;
	background: url(../images/slideshow.bg.jpg);
	position: relative;
	z-index: 1;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

#slideshow ul {
	max-width: 609px;
	height: 373px;
	z-index: 1;
	overflow: hidden;
}

#slideshow .overlay {
	display: block;

	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	z-index: 9;

	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.36);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.36);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.36);
}

#slideshow .next,
#slideshow .prev {
	width: 45px;
	height: 49px;

	position: absolute;
	top: 182px;
	right: -19px;
	z-index: 10;

	background: url(../images/slideshow.right.png) no-repeat;
}

#slideshow .prev {
	right: auto;
	left: -20px;
	background: url(../images/slideshow.left.png) no-repeat;
}

.homeIntro {
	padding-top: 35px;
	color: #444;
	font-size: 12px;
}

@media (min-width: $bp-vertical-to-horizontal) {
	.homeIntro div {
		float: left;
		width: 440px;
		margin-left: 40px;

		&:first-child {
			margin: 0;
		}
	}
}

.homeIntro .button {
	background: url(../images/btn.home-cta.png) no-repeat -186px top;
	display: inline-block;
	line-height: 35px;
	margin-top: 20px;
	width: 156px;
}

.homeIntro .button:first-child {
	width: 186px;
	background-position: left top;
}

.coupon-bar {
	background: #fafafa;
	border-top: 1px solid #DBDBDB;
	color: #4F3254;
	display: block;
	padding: .5em;
	text-align: center;
	text-decoration: none;

	.coupon-bar-wrap {
		display: table;
		margin: 0 auto;
	}

	.coupon-bar-column {
		display: table-cell;
		text-align: left;
		vertical-align: middle;
	}

	&:hover {
		color: #F58321;
	}

	img {
		margin-right: 1em;
	}

	strong {
		text-decoration: underline;
	}
}
