#products article {
	clear: both;
	padding-top: 30px;
	background: url(../images/team.rule.1.png) no-repeat center 20px;
}

#products article:first-child {
	padding: 0;
	background: none;
}

#products dt {
	color: #8f6d44;
	font-weight: bold;
}

#products dd {
	margin-bottom: 15px;
}
