#bottom {
	background: #464545 url(../images/bg.bottom.jpg);
	color: #c5c5c5;
	position: relative;
	z-index: 1;
	width: 100%;

	text-shadow: 0 1px 1px rgba(0,0,0,.5);

	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.35);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.35);
	box-shadow: 0 0 5px rgba(0,0,0,.35);
}

#bottom .wrap {
	max-width: 900px;
	margin: 0 auto;
}

@media (min-width: 940px) {
	#bottom .wrap {
		display: table;
		padding: 40px 30px;
	}
}

#bottom .column {
	margin: 40px 0;
	text-align: center;
}

@media (min-width: 940px) {
	#bottom .column {
		background: url(../images/rule.bottom.png) repeat-y left top;
		width: 260px;
		display: table-cell;
		margin: 0 0 0 29px;
		padding-left: 31px;
		text-align: left;

		&:first-child {
			margin: 0;
			padding: 0;
			background: none;
		}
	}
}

#bottom h2 {
	color: #e7e7e7;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	margin: 0 0 25px;
}

#bottom p {
	margin-top: 10px;
	font-size: 12px;
	line-height: 22px;
}

#bottom p span {
	color: #f58321;
}

#bottom .be-booked {
	background: url(../images/btn.be-booked.png) no-repeat;
	color: #c9c9c9;
	width: 184px;
	height: 51px;
	line-height: 54px;
	margin: 0 auto;
	padding-left: 30px;
	overflow: visible;

	font-size: 27px;
	font-family: 'SorayaRegular';
	text-indent: 0;
	text-decoration: none;
	text-transform: lowercase;
	text-shadow: 0 -1px 0 rgba(0,0,0,.7);

	padding-top: 15px;
	background-position: left bottom;
	position: relative;
	top: -5px;
}

@media (min-width: 940px) {
	#bottom .be-booked {
		margin: 0;
	}
}

.ie9 #bottom .be-booked,
.ie8 #bottom .be-booked,
.ie7 #bottom .be-booked {
	line-height: 40px;
}

#bottom .be-booked span {
	font-size: 40px;
	font-family: 'WildSongThin';
	padding-right: 5px;
}

#bottom .be-booked:hover {
	color: #fff;
}

#bottom li {
	display: inline-block;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 1.1em;
}

#bottom li a,
#bottom li a:visited {
	display: inline-block;
	color: #c5c5c5;
	text-decoration: none;
	width: 35px;
}

#bottom li a:hover {
	color: #ac7a21;
	text-decoration: underline;
}

#bottom li.facebook a {
	background: url(../images/btn.facebook.png) no-repeat 5px top;
}

#bottom li.facebook a:hover {
	background-position: 5px bottom;
}

#bottom li.instagram a {
	background: url(../images/btn.instagram.png) no-repeat left 3px;
}

#bottom li.instagram a:hover {
	background-position: left bottom;
}

#bottom li.twitter a {
	background: url(../images/btn.twitter.png) no-repeat left -1px;
}

#bottom li.twitter a:hover {
	background-position: left bottom;
}

#bottom li.yelp a {
	background: url(../images/btn.yelp.png) no-repeat 5px top;
}

#bottom li.yelp a:hover {
	background-position: 5px bottom;
}

#bottom address {
	font-size: 14px;
	font-style: normal;
	line-height: 22px;

	margin-bottom: 1em;
}

#bottom address:last-child {
	margin-bottom: 0;
}

#bottom address a {
	color: #c5c5c5;
}
