.rule {
	height: 32px;
	background: url(../images/team.rule.1.png) no-repeat center center;
	clear: both;
}

.coupon-btn {
	width: 238px;
	text-align: center;
	background: url(../images/btn.team.png) no-repeat;
}

span.br {
	display: block;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}
