header {
	background: #fafafa;
	box-shadow: 0px 1px 0px 0px #DBDBDB;
	font-size: 14px;
	line-height: 2;
	padding: 2em;
	position: relative;
	z-index: 2;
	margin-bottom: 4em;
}

#logo {
	width: 162px;
	height: 55px;
	background: url(../images/logo.svg);
	background-size: 162px 55px;
	float: left;

	@media (min-width: 850px) {
		margin-right: 4em;
	}
}

nav {
	clear: both;
	font-weight: 300;
	padding-top: 1.5em;
	text-align: center;

	@media (min-width: 850px) {
		clear: none;
		padding-top: 30px;
		text-align: left;
	}

	li {
		display: inline-block;
		position: relative;

		+ li {
			margin: 0 0 0 4em;
		}
	}

	a {
		color: #543E52;
		display: block;
		text-decoration: none;
		text-transform: lowercase;
	}

	a:hover,
	.is-active > a {
		color: #F58321;
	}

	.has-dropdown > a:after {
		background: url(../images/arrow-down.svg);
		background-size: 9px 6px;
		content: '';
		display: inline-block;
		width: 9px;
		height: 6px;
		margin-left: 5px;
		margin-top: -1px;
	}

	.list li,
	.oldie & .list li {
		display: inline;
		float: none;
		margin: 0;
	}

	.list {
		position: absolute;
		top: 100%;
		right: -.5em;
		opacity: 0;
		visibility: hidden;
		padding: .5em 2em 1.5em;
		text-align: right;

		background-color: #fafafa;
		font-size: 12px;
		font-weight: normal;

		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
		box-shadow: 0 1px 3px rgba(0,0,0,.2);

		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);

		-webkit-transition: opacity .2s, visibility .2s, -webkit-transform .2s;
		transition: opacity .2s, visibility .2s, transform .2s;
	}

	.is-active .list {
		opacity: 1;
		visibility: visible;

		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.button-area {
	font-size: 11px;
	float: right;
	margin: 0;
	text-align: right;
	text-transform: uppercase;

	a {
		color: #543E52;

		&:hover {
			color: #F58321;
		}
	}
}

.button-area-book {
	background: #fff;
	border: 1px solid #543E52;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 7px;
	padding: 2px 8px;
	text-decoration: none;

	&:hover {
		border: 1px solid #F58321;
	}
}

.button-area-promo {
	display: block;
	font-size: .8em;
}
